    <div class="container">
        <header>
            <img src="/images/logo-adare-restaurant.png" alt="Logo for Adare Restaurant">
        </header>

        <nav>
            <a href="#">HOME</a>
            <a href="#">MENU</a>
            <a href="#">ORDER ONLINE</a>
            <a href="#">GIFT VOUCHER</a>
            <a href="#">CATERING</a>
            <a href="#">CONTACTS</a>
        </nav>
    </div>

@* <style>
.container {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.328);
    /* height: 40px; */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
</style> *@

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BeFit</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} *@







